<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @content.content_type %>
</p>

<p>
  <% if @content.content_type == 'Blog Post' %>
      <strong>Title:</strong>
  <% elsif @content.content_type == 'Movie' %>
      <strong>Title:</strong>
  <% else %>
      <strong>Name:</strong>
  <% end %>
  <%= @content.title %>
</p>

<p>
  <% if @content.content_type == 'Blog Post' %>
      <strong>Content:</strong>
  <% elsif @content.content_type == 'Movie' %>
      <strong>Review:</strong>
  <% else %>
      <strong>Notes:</strong>
  <% end %>
  <%= @content.content_review_notes %>
</p>

<% if (@content.content_type == "Movie") %>
    <p>
    <strong>Rating:</strong>
    <%= @content.rating %>
    </p>

    <p>
    <strong>Movie link:</strong>
    <%= @content.movie_link %>
    </p>

    <p>
    <strong>Release date:</strong>
    <%= @content.release_date %>
    </p>
<% end %>

<% if (@content.content_type == "Recipe") %>
    <p>
    <strong>Ingredients:</strong>
    <ul>
     <li>
      <% @content.ingredients.each do |ingredient| %>
       
          <%= ingredient %>
      
      <% end %>
      </li>
    </ul>

    </table>
    </p>

    <p>
    <strong>Steps:</strong>
    <ul>
      <li>
      <% @content.steps.each do |step| %>
        
          <%= step %>
        
      <% end %>
      </li>
    </ul>
    </p>

<% end %>
<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>