<!DOCTYPE html>
<html>
  <head>
    <title>OneCentre</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style> 
    #topbarsearch .input-field .prefix { 
      width:0rem !important; 
    } 
    #topbarsearch nav ul li:hover, nav ul li.active { 
      margin: 20px 20px 20px 20px;
      background-color: none !important;
    } 
    .input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content{ 
      margin-left: 2rem !important; 
    }
    </style> 
  </head>

  <body>
    <header>
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to "Blog Post", root_path(:search_param => "Blog Post") %></li>
        <li><%= link_to "Movie", root_path(:search_param => "Movie") %></li>
        <li><%= link_to "Recipe", root_path(:search_param => "Recipe") %></li>
       
        
      </ul>
      <ul id="dropdown2" class="dropdown-content">
        <li><%= link_to "Blog Post", root_path(:search_param => "Blog Post") %></li>
        <li><%= link_to "Movie", root_path(:search_param => "Movie") %></li>
        <li><%= link_to "Recipe", root_path(:search_param => "Recipe") %></li>
      </ul>

   
      <nav>
      <div class="container">
          <div class="nav-wrapper">
            <%= link_to "Contents", root_path, class: "brand-logo right" %>
            
            <a href="#" data-target="mobile-side" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="hide-on-med-and-down left">
              <li><%= link_to 'Create Content',  new_content_path %> </li>
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Filter by Content Type<i class="material-icons right">arrow_drop_down</i></a></li>
             
                <li>
                  <div class="center row">
                    <div class="col s12">
                      <div class="row" id="topbarsearch">
                        <div class="input-field col s6 s12 white-text">
                
                          <%= form_tag(root_path, method: :get) do %>
                            <%= search_field_tag :search_param2, params[:search_param2], class: "inner", id: "autocomplete", placeholder: "Enter search term..." %>
                            <%= submit_tag 'Search' %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
             
            </ul> 
             
          </div>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-side">
        <li><%= link_to 'Create Content',  new_content_path %> </li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Filter by Content Type<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><input type="text" name="search_content_type"> <button>search</button>
        
        </li>
      </ul>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">One Centre</h5>
            <p class="grey-text text-lighten-4">See our Blog, Movies and Recipe reviews</p>
          </div>
         
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2021 OneCentre
        
        </div>
      </div>
    </footer>
  </body>
</html>
